{% extends "base.html" %}
{% block title %}关&emsp;于{% endblock %}
{% block content %}
<div class="main-content container">
    <div class="inner-content">
        <div class="xxdj-report border zycs_text">
            <p>
                项目来源于明日学院《PythonWeb开发-从入门到实践》。

                书本内容花里胡哨，前两章有些干货。<br/><hr/>

                而后章节有些潦草。目录很棒，但是内容有些少，逻辑有些混乱。对于初学者来说，
                看起来很迷惑。或许可以看懂，但是实际上手，会发现很多东西书中都没有交代，
                然后只能从别处重新学一遍。真的有些坑，除了彩印，还有好看的目录，这本书还是很让人失望的。<br/><hr/>

                这个项目的话，书附带的资源还缺少了几个后台处理文件。但好在书上有，可以照着敲。<br/>
                但是，也有问题。首先是书中代码同样有错误；还有就是，源项目很多运行逻辑并不是很完备，还有一些bug。<br/>
                bug1：student/views.py post(function) 中，并没有对一些特殊情况进行处理。比如 用管理员账号登陆时的错误，会识别出用户存在，但匹配不到相关信息，于是会报错。<br/>
                bug2：修改学生信息后没有设置 相关响应<br/>
                bug3：student/admin.py （书中代码）存在缩进问题，导致了bug<br/><hr/>

                纵观书中整个项目，还是有很多瑕疵。对初学者实在不是很友好，定义为“入门”书籍，很多内容、流程都有跳跃删减，半个字不提。<br/><hr/>

                创建项目——》创建app——》修改配置——》激活app——》定制化配置——》编写模型模块、路由模块——》视图模块、调整路由模块、模板模块（前端相关）——》后台处理模块
                创建管理员。
            </p>
        </div>
    </div>
</div>
{% endblock %}

